$("#game_<%= @pick.home_id %>").fadeOut(1000);
$("#balance").html("<h5>Account Balance: <%= @user.account_balance %></h5>");
$('#balance').effect('highlight', 1000, "easeInOutElastic");
$('form').children('div').children('input#pick_wager_amount').attr('max', <%= @user.total_account_value/2 %>);
