body {
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 0;
  padding: 0;
  background: rgba(135,206,250, .7);
}


pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}


div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}


/*User-Login/Sign-up*/

.container-sign-in{
  /*position: relative;*/
   margin: 40px auto;
  width: 600px;
  padding: 10px;
  -webkit-box-shadow: inset 0px 0px 4px 2px white;
}


.container-sign-in label{
  font-weight: bold

}

.container-sign-in span{
 display: inline;
}

.container-sign-in input[type="submit"], .container-sign-in a{
  display: inline;
}




/*Game Odss/Information*/

.no-line{
  border: 1px dotted red;
  display: inline;
  background: rgba(0,255,255, .2)

}

.individual-game{
  background: -webkit-linear-gradient(rgba(240, 156, 156, 1), rgba(206, 136, 136, 1));
  text-align: center;
  width: 850px;
  padding: 20px;
  margin: 20px auto;
  -webkit-box-shadow: 0px 0px 8px 1px rgba(0,0,0,.6);
  border-radius: 6px;
}

.individual-game:hover{
  background: white;
}

form{
  display: inline;
}

.pickbutton{
  background:rgb(39, 163, 216);
  color:white;
  padding: 2px; 
  border: 1px solid white;
}


/*Navbar Items*/
nav{
  width: 100%;
  background: -webkit-linear-gradient(#687587, #404853);
  height: 40px
}
nav ul{
  padding: 0;
  list-style: none;
  margin: 0;
}

nav ul li{
  float:left;

}

nav a, nav a:visited{
  background: #404853;
  background: -webkit-linear-gradient(#687587, #404853);
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  color: #fff;
  display: block;
  font-size: 11px;
  font-weight: bold;
  padding: 0 20px;
  line-height: 38px;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.6);
  text-decoration: none;
}

nav a:hover{
  background: #454d59;
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.4);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  color: #d0d2d5;
}

li:last-child {
  float: right;
}


/*User Show Page*/

.container-user-show{
  margin: 10px auto;
  width: 950px;
  padding: 10px;
  -webkit-box-shadow: inset 0px 0px 4px 2px white;
}

.user-picks-table{
  border-collapse: separate;
  border: 1px solid white;
  border-radius: 8px;
  border-spacing: 10px;
  margin: 0 auto;
  text-align: center;
}

.user-picks-table th{
  padding: 3px;
  -webkit-box-shadow: 0px 1px 3px 0 #404853;
  background: rgba(255,255,255,1)
}

.user-picks-table td{
  padding: 3px;
  background: rgba(255,255,255,1)
}





