body {
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 0;
  padding: 0;
  background: url('bg.png') repeat repeat;
}


pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}


div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}


/*User-Login/Sign-up*/

.container-sign-in{
  /*position: relative;*/
   margin: 40px auto;
  width: 600px;
  padding: 10px;
  -webkit-box-shadow: inset 0px 0px 4px 2px white;
}


.container-sign-in label{
  font-weight: bold

}

.container-sign-in span{
 display: inline;
}

.container-sign-in input[type="submit"], .container-sign-in a{
  display: inline;
}




/*Game Odss/Information*/

.no-line{
  border: 1px dotted red;
  display: inline;
  background: rgba(0,255,255, .2)

}

.individual-game{
  background: -webkit-linear-gradient(rgba(135, 206, 250, 0.7), rgb(104, 132, 147));
  text-align: center;
  width: 850px;
  padding: 20px;
  margin: 5px auto;
 -webkit-box-shadow: inset 0px 0px 8px 1px rgba(84, 95, 109, .6);
  border-radius: 6px;
}

.individual-game:hover{
  -webkit-box-shadow: 0px 0px 8px 5px rgba(84, 95, 109, .6);
}

form{
  display: inline;
}

.pickbutton{
  background:rgb(39, 163, 216);
  color:white;
  padding: 2px; 
  border: 1px solid white;
  cursor: pointer;
}


/*Navbar Items*/
nav{
  width: 100%;
  background: -webkit-linear-gradient(#687587, #404853);
  height: 40px
}
nav ul{
  padding: 0;
  list-style: none;
  margin: 0;
}

nav ul li{
  float:left;

}

nav a, nav a:visited{
  background: #404853;
  background: -webkit-linear-gradient(#687587, #404853);
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  color: #fff;
  display: block;
  font-size: 11px;
  font-weight: bold;
  padding: 0 20px;
  line-height: 38px;
  text-shadow: inset 0 0 1px rgba(0, 0, 0, 0.6);
  text-decoration: none;
}

nav a:hover{
  background: #454d59;
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.4);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  color: #d0d2d5;
}

li:last-child {
  float: right;
}


/*User Show Page*/

.container-user-show, .container-leaderboard{
  margin: 10px auto;
  width: 950px;
  padding: 10px;
  -webkit-box-shadow: inset 0px 0px 4px 2px white;
}

.user-picks-table, .leaderboard-table{
  background: lightblue;
  border-collapse: separate;
  border: 1px solid white;
  border-radius: 8px;
  border-spacing: 10px;
  margin: 0 auto;
  text-align: center;
}

.user-picks-table th, .leaderboard-table th{
  padding: 3px;
  -webkit-box-shadow: 0px 1px 3px 0 #404853;
  background: rgba(255,255,255,1)
}

.user-picks-table td, .leaderboard-table td{
  padding: 3px;
  background: rgba(255,255,255,1)
}


 /*Splash Page Stuff*/
.container-splash{
  width: 100%;
  height: 1000px;
  background: black;
  overflow: hidden;
  position: relative;
}

.splash-text{
  width: 800px;
  color: white;
  font-weight: bold;
  font-size: 72px;
  line-height: 120px;
  text-align: center;
  position: relative;
  margin: 200px auto 
}

.splash-photo-portrait{
  width: 400px;
  height:600px;
  margin: 100px auto;
  border-radius: 70px;
  position: relative;
  display: block;
  
}

/* entire container, keeps perspective */
.flip-container {
  perspective: 1000;
}
  /* flip the pane when hovered */
  .flip-container:hover .flipper, .flip-container.hover .flipper {
    -webkit-transform: rotateY(180deg);
  }

.flip-container, .front, .back {
  position: absolute;
  left: 500px;
  top: 150px;
  width: 480px;
  height: 480px;
  border-radius: 50%;

}

/* flip speed goes here */
.flipper {
  -webkit-transition: 0.6s;
  -webkit-transform-style: preserve-3d;

  position: relative;
}

/* hide back of pane during swap */
.front, .back {
  -webkit-backface-visibility: hidden;

  position: absolute;
  top: 0;
  left: 0;
}

/* front pane, placed above back */
.front {
  background: url('kane_idiot.png');
  z-index: 2;
}

/* back, initially hidden pane */
.back {
  line-height: 300px;
  background: orange;
  vertical-align: middle;
  -webkit-transform: rotateY(180deg);
}



